:host{
    --image-font-family: $primary-font-family;
    --image-font-weight: bold;
    --image-font-size: 16px;
    --image-font-color: white;
    --image-container-width: 100%;
    --container-color: #000000;
    --container-opacity: 72%;
    --pagination-container-width: 32px;
    --pagination-container-height: 32px;
}